---
import { config } from "@/config"
import { navigation_footer } from "@/data/data"
import { cn } from "@/utils/cn"
import { Icon } from "astro-icon/components"
import Container from "./Container.astro"
---

<footer class="bg-[var(--bg-surface)] border-t border-[var(--border-soft)] py-8">
	<Container>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-6 mb-14">
			{
				navigation_footer.map(item => {
					const columnKey = Object.keys(item).find(key => key.startsWith("colunm"))
					const links = item[columnKey] || []

					return (
						<div class="flex flex-col md:items-start items-center">
							<span class="block mb-4 font-medium text-[var(--text-main)]">{item.category}</span>
							<nav class="flex flex-col gap-3">
								{links.map(link => (
									<a
										class={cn(
											"text-[var(--text-muted)] md:self-start self-center flex items-center gap-1 transition-colors hover:text-[var(--accent)]",
											link.style,
										)}
										href={link.href}
										target={link.target}
									>
										{link.icon && <Icon name={link.icon} />}
										<span>{link.label}</span>
									</a>
								))}
							</nav>
						</div>
					)
				})
			}
		</div>
		<div class="md:justify-between flex-wrap gap-3 justify-center flex items-center">
			<span class="text-[var(--text-muted)]"
				>&copy; {new Date().getFullYear()} {config.site.url.replace("https://", "")}</span
			>
		</div>
	</Container>
</footer>
